<a href="https://colab.research.google.com/github/Asad78656/CodeForces/blob/main/Python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#count no of digits

In [9]:
def count(n):

    cnt = 0

    while(n > 0):
       cnt = cnt+1
       n = n//10

    return  cnt

In [10]:
n = int(input('Enter any no : '))
digits = count(n)
print(digits)

Enter any no : 356363
6

#reverse a number

In [12]:
def reverse(n):
  rev = 0
  while(n>0):
    rem = n%10
    rev = rev*10 + rem
    n = n//10

  return rev

In [13]:
n = int(input())
rev = reverse(n)
print(rev)

4566
6654

#gcd of two numbers

In [22]:

def hcf(a,b):
  hcf = 1
  for i in range(1,min(a,b)+1):
    if(a%i==0  and b%i==0):
      hcf = i

  return hcf

In [23]:
a = int(input())
b = int(input())
h = hcf(a,b)
print(h)

24
36
12